@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="content">
    <h2>@ViewData["Title"]</h2>
    <p>This page outlines the privacy policy for Earls Burger.  We are committed to protecting your personal information...</p>
</section>
