@page
@model EarlsBurger.Pages.CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}
@using EarlsBurger.Data
@using Microsoft.Extensions.Options
<h1>Checkout</h1>
@if (Model.Items.Count == 0)
{
    <p> You do not have any items in your basket. Please revisit the menu and make a selection</p>
}
else
{
    <form method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Items)
            {
                var Subtotal = item.Price * item.Quantity;
                <tr>
                    <td>@item.Item_Name</td>
                    <td>@item.Quantity</td>
                    <td>$@item.Price.ToString("F2")</td>
                    <td>@Subtotal.ToString("F2")</td>
                </tr>
            }
            </tbody>   
        </table>
    
        <h2>Order Total: @Model.Total.ToString("C")</h2>
        <button type="submit" asp-page-handler="Buy">Buy</button>
    </form>
        

    
}
