@page
@model EarlsBurger.Pages.Admin.index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Admin pages</h1>
    <p> This page requires Admin role to access </p>
</div>
<div class="list">
    <a href="/Menu">Menu</a>
</div>
</body>
</html>